beautifulsoup4==4.6.3
certifi==2018.11.29
chardet==3.0.4
cssselect==1.0.3
funcsigs==1.0.2
html5lib==1.0.1
idna==2.8
iso8601==0.1.4
lxml==4.2.5
mechanize==0.3.7
mock==2.0.0
pbr==5.1.1
python-dateutil==1.5
pytz==2018.7
PyYAML==3.13
requests==2.21.0
rtyaml==0.0.5
scrapelib==0.10.1
six==1.12.0
urllib3==1.24.1
webencodings==0.5.1
xmltodict==0.11.0
